[
 {kernel, [{logger, [{handler, default, logger_std_h,
                      #{level => debug,
                        formatter => {logger_formatter, #{single_line => true}}}}]}]},
 {pgo,
  [{pools,
    [{default, #{pool_size => 5,
                 host => "db-ct",
                 port => 5432,
                 database => "usersdb",
                 user => "restadmin",
                 password => "r35t@dm1n"}}]}]}
].