{erl_opts, [debug_info]}.
{deps, [cowboy, thoas, pgo]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [rest_users]}
]}.

{relx, [{release, {rest_users, {git, short}},
  [rest_users]}
]}.

{profiles, [
  {test, [
    {deps, [gun, docker_compose_cth]},
    % {config, "config/test.config"},
    {apps, [rest_users, gun]}
  ]}
]}.

{ct_opts, [{ct_hooks, [docker_compose_cth]}]}.