{erl_opts, [debug_info]}.
{deps, [cowboy, thoas, pgo]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [rest_users]}
]}.

{relx, [
  {release, {rest_users, {git, short}},
    [rest_users]},
  {mode, prod}
  ,{sys_config_src, "config/sys.config.src"}
]}.

{profiles, [
  {test, [
    {deps, [
      gun
    ]}
    ,{apps, [rest_users, gun]}
  ]}
]}.

{ct_opts, [
  {config, "test/config/suite.config"}
  ,{sys_config, "test/config/test.config"}
]}.