[
 {kernel,
  [{logger_level, error},
   {logger,
    [{handler, default, logger_std_h,
            #{level => error,
              config => #{file => "log/error.log",
                          max_no_bytes => 4096,
                          max_no_files => 3}}}]}]},
 {pgo,
  [{pools,
    [{default, #{pool_size => 5,
                 host => "127.0.0.1",
                 port => 5432,
                 database => "usersdb",
                 user => "restadmin",
                 password => "r35t@dm1n"}}]}]}
].